.DS_Store
/_python_build
*.pyc
*.tar
__pycache__
*.swp
.idea/**
.gradle
.idea

cloud/cloudcore.log   
cloud/cloudcore
cloud/admission
edge/edgecore_x86
edge/edgecore_debug
edgesite/edgesite
keadm/keadm
_output
build/*
